
<div class='row'>
    <div class= "col-xs-10">
        <!-- call edit component-->
        <!-- <app-shopping-edit
        (ingredientAdded)='onIngredientAdded($event)'></app-shopping-edit> -->
        <!-- captures user entered data at that event so need of getting it from  shopping-edit element -->

          <app-shopping-edit></app-shopping-edit>  <!-- no need of listener to get ingredient added from edit list  as we 
        are using service-->
        
        <hr>
        <ul class="list-group">
            <a class="list-group-item" 
            style= "cursor:pointer"
            *ngFor = "let ingredient of ingredients;let i =index" 
            (click) = "onEditItem(i)"
            >{{ingredient.name}} ({{ingredient.amount}})

            <!-- ingredients refres to ingredients array which contains array of objects (from shared/ingredients.module.ts class)-->
        </a>
        </ul>
    </div>
</div>
    
    
   
