<app-header (featureSelected)="onNavigate($event)"></app-header>
<!-- $event to get the data -->
<!-- <app-header></app-header>  -->
<div class="container">
  <div class= "row">
    <div class="col-md-12">

    
      <!-- using routing-->
      <router-outlet></router-outlet>
       <!-- <app-recipes *ngIf="loadedFeature ==='recipe'"></app-recipes>
      <app-shopping-list *ngIf ="loadedFeature ==='shopping-list'"></app-shopping-list> -->
      <!-- <app-fruits *ngIf="loadedFeature ==='fruit'"></app-fruits> -->
      <!-- <app-books *ngIf="loadedFeature ==='book'"></app-books> -->

     <!-- <app-person-details *ngIf="loadedFeature =='person'"></app-person-details>
  -->
     
    </div>
  </div>
</div> 



